<div class="panel panel-default">
    <div class="panel-heading"> <h3 class="panel-title"><i class="fa fa-lg fa-credit-card" aria-hidden="true"></i> {{ text_thank_you }}</h3> </div>
    <div class="panel-body">
	<p class="panel-message">
	    {{text_bank_transfer}} {{bank}}. <b>{{account_number}}</b>
	</p>
	<hr/>
	<div class="panel-message text-center alert alert-warning">{{text_order_info}}</div>
    </div>
</div>
