{{ header }}
<div id="checkout-checkout" class="container">
    <ul class="breadcrumb">
	{% for breadcrumb in breadcrumbs %}
	    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
	{% endfor %}
    </ul>

    {% include "mikran/template/checkout/mikran/_messages.twig" with {'module':''} %}

    <div class="row bs-wizard" style="border-bottom:0">                
      <div id="step1" class="col-xs-4 bs-wizard-step disabled" style="cursor: pointer;">
	  <div class="text-center bs-wizard-stepnum text-muted"><span id="click1">{{text_delivery}}<i id="undo1" style="padding-left:5px;display:none;" class="fa fa-edit"></i></span></div>
	  <div class="progress"><div class="progress-bar"></div></div>
	  <a class="bs-wizard-dot"></a>
      </div>               
      <div id="step2" class="col-xs-4 bs-wizard-step active">
	  <div class="text-center bs-wizard-stepnum text-muted"><span id="click2">{{text_address}}<i id="undo2" style="padding-left:5px;display:none;" class="fa fa-edit"></i></span></div>  
	  <div class="progress"><div class="progress-bar"></div></div>				  
	  <a class="bs-wizard-dot"></a>
      </div>                
      <div id="step3" class="col-xs-4 bs-wizard-step disabled">
	  <div class="text-center bs-wizard-stepnum text-muted"><span id="click3">{{text_payment}}</span></div>
	  <div class="progress"><div class="progress-bar"></div></div>
	  <a class="bs-wizard-dot"></a>
      </div>
  </div>
    
    <h1>{{ heading_title }}</h1>
    
    {{frozen_cart}}
    <form method="post" action="index.php?route=checkout/mikran/checkout">
	{{shipping_address}}
	<div class="panel panel-warning">
	    <div class="panel-heading"> <h3 class="panel-title"><i class="fa fa-lg fa-shopping-cart" aria-hidden="true"></i> {{entry_checkout}}</h3> </div>
	    <div class="panel-body">
		<p class="alert alert-warning">
		    {{text_order_warning}}
		</p>
		<div class="text-center"><input type="submit" value="{{ entry_checkout }}" class="btn btn-lg btn-warning" /></div>
	    </div>
	</div>

	<div class="panel panel-info">
	    <div class="panel-heading"> <h3 class="panel-title"><i class="fa fa-lg fa-lightbulb-o" aria-hidden="true"></i> {{text_doubts}}</h3> </div>
	    <div class="panel-body">
		<p class="font-larger">{{text_return}}</p>
	    </div>
	</div>
	
	<div class="buttons clearfix">
            <div class="pull-left"><a href="{{ step_1_redirect }}" class="btn btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i> {{ text_delivery }}</a></div>

	</div>

    </form>
    {{ content_bottom }}
    {{ column_right }}
</div>
{{ footer }}

<script type="text/javascript">
 $(document).ready(function() {
     $( "#step1" ).click(function() {
	 $(location).attr('href', '{{step_1_redirect}}')
     });     
 });
</script>
